.login-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/bg-predio.png'); /* ajuste o caminho se estiver diferente */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.9); /* fundo branco com leve transparência */
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
  text-align: center;
  min-width: 320px;
}

.login-box img {
  width: 140px;
  margin-bottom: 15px;
}

.login-box h2 {
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-box button {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  background-color: #003366;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-box button:hover {
  background-color: #0055aa;
}
